 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer class="small">
        <div class="row">
            <div class="col-lg-4 text-left">
                <h5>
                    <strong>Site Haritası</strong>
                </h5>
                <hr />
                <p class="text-left">
                    <a href="/Home/About"><i class="fa fa-info-circle mr-2"></i>Hakkmızda</a><br />
                    <a href="/Home/MostLiked"><i class="fa fa-star mr-2"></i>En Beğenilenler</a><br />
                    <a href="/Home/Index"><i class="fa fa-th-list mr-2"></i>Son Yazılar</a><br />
                    <a href="/Home/Login"><i class="fa fa-sign-in mr-2"></i>Giriş</a><br />
                    <a href="/Home/Register"><i class="fa fa-user mr-2"></i>Üye Ol</a>
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h5>
                    <strong>My Evernote</strong>
                </h5>
                <hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    My Evernote Sample<br />@DateTime.Now.Year
                </p>
            </div>

            <div class="col-lg-4 text-right">
                <h5>
                    <strong>E-Bülten Üyeliği</strong>
                </h5>
                <hr />
                <div class="col-md-12 text-right pr-0">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="e-posta adresiniz">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">
                                <span class="fa fa-send"></span> Gönder
                            </button>
                        </span>
                    </div>
                    <p>
                        Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
