@using MyEvernote.Entities
@model Note

<div class="row">
    <div class="col-md-12 mb-2">
        <h4>@Model.Title</h4>
    </div>
    <div class="col-md-12">
        <p class="text-justify">
            @Model.Text
        </p>
    </div>
    <div class="col-md-12 text-right my-2">
        <small class="text-muted">
            <i class="fa fa-user mr-1"></i><span class="mr-4">@Model.Owner.Username</span>
            <i class="fa fa-clock-o mr-1"></i><span>@Model.ModifiedOn</span>
        </small>
    </div>
</div>